@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fdfaf7; /* М'який нюд */
  --foreground: #1a1a1a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0f0f0f; /* Глибокий темний */
    --foreground: #f5f5f5;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}